body{
  font-family: "Helvetica Neue";
  font-weight: 200;
}
ul{
  list-style: none;
  padding-left: 0em;
  margin: 0em;
}

.button-3{
  text-align: center;
}

.button-3 li{
  display: inline-block;
  width: 200px;
  max-width: 200px;
  height:1em;
  padding-top:1em;
  padding-bottom:1em;
  margin-bottom:1%;
}
.last{
  clear: left;
}
.first{
  clear: right;
}
#numberDisplay input{
  height: 2em;
  text-align: center;
  background: rgba(0, 0, 255, 0.1);
  padding: .5em 0em;
  margin-top: 1em;
  margin-bottom: 1%;
  font-size: 2em;
  font-family: "Helvetica Neue";
  font-weight: 100;
  width: 100%;
  border: 0px;
}
#dialpad,
#actions,
#numberDisplay{
  max-width: 610px;
  margin: 0 auto;
}
#dialpad li{
  font-weight: bold;
  background: #eee;
  width: 100%;
}
#dialpad li:hover{
  background: #ccc;
}
#actions li{
  background: #efefef;
  opacity: .8;
}
#actions li:hover{
  background: #ccc;
}
