body{
  font-family: "Helvetica Neue";
  font-weight: 200;
}
ul{
  list-style: none;
  padding-left: 0em;
  margin: 0em;
}

.button-3{
  text-align: center;
}

.button-3 li{
  display: inline-block;
  width: 30%;
  height:1em;
  padding-top:1em;
  padding-bottom:1em;
  margin-bottom:1%;
}
.button-3 li:nth-child(3){
  clear: right;
}
#numberDisplay p{
  height: 1em;
  text-align: center;
  margin-top: 1em;
}
#numberDisplay p{
  font-size: 2em;
  font-weight: 100;
}
#dialpad li{
  font-weight: bold;
  background: #eee;
  width: 30%;
}
#dialpad li:hover{
  background: #ccc;
}
#actions li{
  background: #efefef;
  opacity: .8;
}
#actions li:hover{
  background: #ccc;
}
